div{
    margin-left: 35%;
    margin-right: 35%;
    border: 2px solid slategray;
    background-color: slategray;
}
p{
    text-align: center;    
}
h2{
    text-align: center;
    font-family: fantasy;
}
h4{
    text-align: center;
    color: 
    font-family cursive;
}


.img{
    text-align: center;
}